@import "./theme.css";

#about-section {
    background-image: url("img/background2.jpg");
    height: 900px;
    background-size: cover;
}

.about-section-header{
    padding-top: 3vw;
    font-weight: 800;
    font-size: 3vw;
    color: rgb(57, 2, 97);
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 3px 5px azure;
}

.about-me-p #second {
    padding-left: 25vh;
    padding-right: 25vh;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(57, 2, 97);
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    text-shadow: 3px 3px 5px azure;
}