@import "./theme.css";


footer {
    display: inline;
    width: 100%;
    background-color: rgb(57, 2, 97);
}

.footer-container {
    text-align: center;
}

.social-icons {
    align-items: inherit;
}

.icons-field {
    display: flex; 
    justify-content: center;
    width: 100%;
}

.social-icons li{
    list-style: none;
}

.quote {
    color:azure;
    font-size: xx-large;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #211F1F;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

@media screen and (max-width:480px){
    
    .quote{
        font-size: 2rem;
    }
    
    
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }

}