@import "./theme.css";
@import "./navbar-section.css";
@import "./welcome-section.css";
@import "./about-section.css";
@import "./skills-section.css";
@import "./footer-section.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html,body{
  overflow-x: hidden;
}


.flexbox-container {
    display:flex;
    flex-direction: column;
    width:100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Scroll bar*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(163, 41, 250); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(96, 62, 121); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(42, 2, 71); 
  }