@import "./theme.css";

.welcome-section {
    position: relative;
    width: 100%;
    min-height: 100%; 
    background-color: var(--main-bg-color);
}

.welcome-header {
    padding-top: 7vw;
    font-weight: 800;
    font-size: 3rem;
    color: azure;
    font-family: 'Poppins', sans-serif;
}

.about-me-p #first{
    padding-left: 25vh;
    padding-right: 25vh;
    margin-bottom: 23px;
    text-align: center;
    color: azure;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.avatar {
    border-radius: 40%;
    max-width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 11vw;
}

@media screen and (max-width:480px){
    .welcome-section {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
    }

    .welcome-header{
        padding-top: 100px;
        font-size: 1.1rem;
    }

    .about-me-p #first{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 1rem;
    }
}